---
title: literature 
---

<h2>literature</h2>

<main class="post">
    Here I just save a bunch of books/research papers I'm currently reading, have read, or find useful, along with the date they were added, so I don't lose them.

    <h3>books:</h3>

    <ul>
        {% for lit in site.data.literature %}
            <li>
                <p>
                    {{lit.name}}    
                    <br>
                    <a href="{{lit.url}}">url</a>
                    <br>
                    {{lit.date | date_to_string}}
                </p>
            </li>
        {% endfor %}
    </ul>

    <h3>papers:</h3>

    <ul>
        {% for p in site.data.papers %}
            <li>
                <p>
                    {{p.name}}    
                    <br>
                    <a href="{{p.url}}">url</a>
                    <br>
                    {{p.date | date_to_string}}
                </p>
            </li>
        {% endfor %}
    </ul>
    
</main>
