@font-face {
    font-family: "monocraft";
    src: url("/assets/fonts/Monocraft-ttf/Monocraft.ttf") format("truetype"); 
    font-weight: 300;
    font-style: normal;
    font-display: swap;
} 

* {
    font-family: "monocraft", sans-serif;
}

.current {
    color: green;
}

.header-nav {
    display: flex; 
    gap: 2rem;
} 

.home-logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}