@font-face {
    font-family: "monocraft";
    src: url("/assets/fonts/Monocraft-ttf/Monocraft.ttf") format("truetype"); 
    font-weight: 300;
    font-style: normal;
    font-display: swap;
} 

* {
    font-family: "monocraft", sans-serif;
}

.current {
    color: green;
}

.header-nav {
    display: flex; 
    gap: 2rem;
} 

.home-title {
    position: relative;
    display: block;
    text-align: center;
}

.cool-title {
    position: absolute;
    bottom: -0.5em;
    font-size: 0.6em;
    transform: rotate(-30deg);
    animation: pulse 1.5s ease-in-out infinite;
    color: yellow;
    text-shadow: 1px 1px 0px black; // hor. offset, ver. offset, blur, color 
}

@keyframes pulse {
  0%, 100% {
    transform: rotate(-30deg) scale(1);
  }
  50% {
    transform: rotate(-30deg) scale(1.3);
  }
}